.pokemon-detail {
  text-align: center;
}

.pokemon-image {
  background-color: black;
  border: thin solid red;
  width: 100px;
  margin: auto;
}

.pokemon-image:hover {
  border: thin solid yellow;
  cursor: pointer;
}

.detail-flex {
  display: flex;
  justify-content: space-around;
}

.details {
  text-align: left;
}

.details li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.type:hover {
  cursor: pointer;
}

.flying {
  color: slateblue;
}

.fire {
  color: orangered;
}

.water {
  color: blue;
}

.grass {
  color: green;
}

.poison {
  color: purple;
}

.electric {
  color: yellow;
}

.bug {
  color: greenyellow;
}

.rock {
  color: brown;
}

.ground {
  color: burlywood;
}

.ice {
  color: lightblue;
}

.psychic {
  color: hotpink;
}

.dragon {
  color: darkslateblue;
}

.fighting {
  color: darkred;
}

.ghost {
  color: rebeccapurple;
}

.steel {
  color: gray;
}

.fairy {
  color: lightpink;
}